In [33]:
import pandas as pd
link="https://github.com/UK-Data-Science/tarea2nicole/raw/main/dataUN%20-%20HDR21-22_Statistical_Annex_HDI_Table.csv"

In [34]:
df = pd.read_csv(link)

In [35]:
#eliminar filas de puros valores NaN
df=df.dropna(how='all')
# eliminar aquellas columnas que tienen mayoria de valores NaN
columns_drop = df.columns[df.isna().sum() > 0.5 * len(df)]
df = df.drop(columns_drop, axis=1)
# renombrar las columnas juntando las celdas pero con un espacio
new_names = df.iloc[1:4].fillna('').agg(' '.join).tolist()
df.columns = new_names
# y eliminar las filas donde estaban los nombres de columna
df = df.drop(index=df.index[:4])
# modificar los nombres de las columnas sin espacios y carácteres diferentes a alfanuméricos
df.columns=df.columns.str.strip().str.replace(pat=r'\s+', repl='_', regex=True).str.replace(pat=r'\W', repl='', regex=True)
df.columns.to_list()

['HDI_rank',
 'Country',
 'Human_Development_Index_HDI_Value_2021',
 'Life_expectancy_at_birth_years_2021',
 'Expected_years_of_schooling_years_2021',
 'Mean_years_of_schooling_years_2021',
 'Gross_national_income_GNI_per_capita_2017_PPP__2021',
 'GNI_per_capita_rank_minus_HDI_rank_2021',
 'HDI_rank_2020']

In [36]:
# eliminando subtitulos 
subtitulos_indices = df[df['Country'].str.isupper()].index
df = df.drop(subtitulos_indices)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 255 entries, 7 to 275
Data columns (total 9 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   HDI_rank                                             191 non-null    object
 1   Country                                              255 non-null    object
 2   Human_Development_Index_HDI_Value_2021               210 non-null    object
 3   Life_expectancy_at_birth_years_2021                  210 non-null    object
 4   Expected_years_of_schooling_years_2021               210 non-null    object
 5   Mean_years_of_schooling_years_2021                   210 non-null    object
 6   Gross_national_income_GNI_per_capita_2017_PPP__2021  210 non-null    object
 7   GNI_per_capita_rank_minus_HDI_rank_2021              210 non-null    object
 8   HDI_rank_2020                                        210 non-null    object
dtypes: object(9)
memory usage: 19.9+ KB

In [37]:
# identificando la longitud de la data util -> 7 columnas son de longitud 210 
df.notnull().sum().value_counts()

210    7
191    1
255    1
Name: count, dtype: int64

In [38]:
#eliminar las filas sobrantes despues del fin de la tabla 
frecuencia_not_null = df.notnull().sum().value_counts()
indice_max = frecuencia_not_null.idxmax()
df = df.loc[:indice_max]
# verificar valores nan : queda al menos 1 en la mayoria
df.isna().sum()

HDI_rank                                               8
Country                                                0
Human_Development_Index_HDI_Value_2021                 1
Life_expectancy_at_birth_years_2021                    1
Expected_years_of_schooling_years_2021                 1
Mean_years_of_schooling_years_2021                     1
Gross_national_income_GNI_per_capita_2017_PPP__2021    1
GNI_per_capita_rank_minus_HDI_rank_2021                1
HDI_rank_2020                                          1
dtype: int64

In [39]:
# inspeccionando los valores NaN : 
# se identifica el primer index nan mas repetido en las columnas
indice_max_actualizado=df.isna().idxmax().value_counts().idxmax()
# nos quedamos con las filas hasta antes de ese nan
df = df.loc[:indice_max_actualizado-1]
df

,HDI_rank,Country,Human_Development_Index_HDI_Value_2021,Life_expectancy_at_birth_years_2021,Expected_years_of_schooling_years_2021,Mean_years_of_schooling_years_2021,Gross_national_income_GNI_per_capita_2017_PPP__2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_rank_2020
7,1,Switzerland,962,84.0,16.5,13.9,"66,933",5,3
8,2,Norway,961,83.2,18.2,13.0,"64,660",6,1
9,3,Iceland,959,82.7,19.2,13.8,"55,782",11,2
10,4,"Hong Kong, China (SAR)",952,85.5,17.3,12.2,"62,607",6,4
11,5,Australia,951,84.5,21.1,12.7,"49,238",18,5
...,...,...,...,...,...,...,...,...,...
200,191,South Sudan,385,55.0,5.5,5.7,768,-1,191
202,NaN,Korea (Democratic People's Rep. of),..,73.3,10.8,..,..,..,..
203,NaN,Monaco,..,85.9,..,..,..,..,..
204,NaN,Nauru,..,63.6,11.7,..,"17,73",..,..
205,NaN,Somalia,..,55.3,..,..,"1,018",..,..

In [40]:
df.dtypes

HDI_rank                                               object
Country                                                object
Human_Development_Index_HDI_Value_2021                 object
Life_expectancy_at_birth_years_2021                    object
Expected_years_of_schooling_years_2021                 object
Mean_years_of_schooling_years_2021                     object
Gross_national_income_GNI_per_capita_2017_PPP__2021    object
GNI_per_capita_rank_minus_HDI_rank_2021                object
HDI_rank_2020                                          object
dtype: object

In [41]:
# aplicando strip a los strings del dataframe: 
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)
# identificando las columnas numericas
numericCols = df.columns[df.columns.str.contains(pat=r'\d', regex=True)].tolist()

# hallando la presencia de simbolos 
unique_symbols = set()

for col in numericCols:
    symbols = df[col].astype(str).str.extractall(pat=r'([^0-9.])')[0].tolist()
    unique_symbols.update(symbols)

unique_symbols

{',', '-'}

In [42]:
# reemplazando comas
for col in numericCols:
    df[col] = df[col].str.replace(pat=r',', repl='', regex=True)

In [43]:
# Formateo Strings:
abcCol=df.columns[df.columns.str.contains(pat=r'^[a-zA-Z]+$', regex=True)].to_list()
abcCol

['Country']

In [44]:
df[df.Country.str.contains(r"\w*[\u00C0-\u01DA']\w*")]

,HDI_rank,Country,Human_Development_Index_HDI_Value_2021,Life_expectancy_at_birth_years_2021,Expected_years_of_schooling_years_2021,Mean_years_of_schooling_years_2021,Gross_national_income_GNI_per_capita_2017_PPP__2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_rank_2020
54,48,Türkiye,838,76.0,18.3,8.6,31033,-3,48
148,140,Lao People's Democratic Republic,607,68.1,10.1,5.4,7700,-18,142
167,159,Côte d'Ivoire,550,58.6,10.7,5.2,5217,-22,159
202,NaN,Korea (Democratic People's Rep. of),..,73.3,10.8,..,..,..,..

In [45]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\patricia\anaconda3\envs\version\lib\site-packages (1.3.8)Note: you may need to restart the kernel to use updated packages.

In [46]:
from unidecode import unidecode

df['Country']=df.Country.apply(unidecode)

In [47]:
# Formateo Numeros:
df.info() # no hay numeros reconocidos

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 7 to 205
Data columns (total 9 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   HDI_rank                                             191 non-null    object
 1   Country                                              195 non-null    object
 2   Human_Development_Index_HDI_Value_2021               195 non-null    object
 3   Life_expectancy_at_birth_years_2021                  195 non-null    object
 4   Expected_years_of_schooling_years_2021               195 non-null    object
 5   Mean_years_of_schooling_years_2021                   195 non-null    object
 6   Gross_national_income_GNI_per_capita_2017_PPP__2021  195 non-null    object
 7   GNI_per_capita_rank_minus_HDI_rank_2021              195 non-null    object
 8   HDI_rank_2020                                        195 non-null    object
dtypes: object(9)
memory usage: 15.2+ KB

In [48]:
for col in numericCols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [49]:
df.dtypes

HDI_rank                                                object
Country                                                 object
Human_Development_Index_HDI_Value_2021                 float64
Life_expectancy_at_birth_years_2021                    float64
Expected_years_of_schooling_years_2021                 float64
Mean_years_of_schooling_years_2021                     float64
Gross_national_income_GNI_per_capita_2017_PPP__2021    float64
GNI_per_capita_rank_minus_HDI_rank_2021                float64
HDI_rank_2020                                          float64
dtype: object