In [3]:
import pandas as pd
link="https://github.com/UK-Data-Science/tarea2nicole/raw/main/dataUN%20-%20HDR21-22_Statistical_Annex_HDI_Table.csv"

In [4]:
data = pd.read_csv(link)
data

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#eliminar filas de puros valores NaN

data=data.dropna(how='all')

# eliminar aquellas columnas que tienen mayoria de valores NaN

columns_drop=data.columns[data.isna().sum() > 0.5 * len(data)]
data = data.drop(columns_drop, axis=1)

# renombrar las columnas juntando las celdas pero con un espacio
new_names = data.iloc[1:4].fillna('').agg(' '.join).tolist()
data.columns = new_names
# y eliminar las filas donde estaban los nombres de columna
data = data.drop(index=data.index[:4])

# modificar los nombres de las columnas sin espacios
data.columns=data.columns.str.strip().str.replace(pat=r'\s+', repl='_', regex=True)

# eliminando subtitulos 
subtitulos_indices = data[data['Country'].str.isupper()].index
data = data.drop(subtitulos_indices)